{{ if variant == "vertical" }}
    <div class="flex items-start flex-col">
        <div class="aspect-[3/2]">
            {{partial:components/picture class="w-full rounded-2xl" cover="true"}}
        </div>
        <x-heading as="h3" class="mt-6" weight="semibold" size="xxs">{{ full_name }}</x-heading>
        <x-paragraph color="gray">{{ position }}</x-paragraph>
        <x-paragraph as="div" class="mt-6" color="gray">{{ rich_text }}</x-paragraph>
    </div>
{{ else }}
    <div class="flex flex-col md:flex-row items-start gap-x-6">
        <div class="aspect-4/5  w-52 flex-none">
            {{partial:components/picture class="w-full rounded-2xl " cover="true"}}
        </div>
        <div class="max-w-xl flex-auto">
            <x-heading as="h3" class="mt-6 md:mt-0" weight="semibold" size="xxs">{{ full_name }}</x-heading>
            <x-paragraph color="gray">{{ position }}</x-paragraph>
            <x-paragraph as="div" class="mt-6" color="gray">{{ rich_text }}</x-paragraph>
        </div>
    </div>
{{ /if }}