{{ partial:sets/block class="bg-teal-900 py-16 md:py-24 my-0 md:my-0" }}
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <x-heading align="center" size="xxs" color="white">{{ title }}</x-heading>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      {{ images }}
        <div class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 {{ index === 3 ? 'sm:col-start-2' : '' }} {{ index === 4 ? 'col-start-2 sm:col-start-auto ' : '' }}">
          {{ partial:components/picture :image="url" class="max-h-12 w-full object-contain" alt="Logo" cover="true" focus="center" }}
        </div>
      {{ /images }}
      </div>
  </div>
{{ /partial:sets/block }}
