{{ partial:sets/block }}
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        
        {{testimonials}}
        <div class="border-gray-200 {{index === 1 ? 'pt-10 sm:pt-16 lg:border-l border-t lg:border-t-0 lg:pl-8 lg:pt-0 xl:pl-20' : 'pb-10 sm:pb-16 lg:pb-0  lg:pr-8 xl:pr-20'}}">
          {{ partial:components/testimonial_card variant="default" }}
        </div>
        {{/testimonials}}
        
      </div>
    </div>
{{ /partial:sets/block }}
    